<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: linear-gradient(purple, pink);
        }
        h1 {
            text-align: center;
            color: white;
        }
        p {
            color: white;
            text-align: center;
            width: 20%;
        }
    </style>
</head>
<body>
    <h1>404: Page not found</h1>
    <p>Hmm, it seems that your requested page does not exist, or you were not granted access. Try double-checking your URL.</p>
    {{exception}}
</body>
</html>