{% extends "classroom/layout.html" %}
{% load static %}
{% block head %}
<script src="{% static 'classroom/styled-notifications-master/dist/notifications.js' %}"></script>
<link rel="stylesheet" href="{% static 'classroom/styled-notifications-master/dist/notifications.css' %}"></script>
<script src="{% static 'classroom/class.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container">
        {% for classroom in classrooms %}
        <div class="column">
            <div class="card" style="width: 50%;">
                <img class="card-img-top" src="{{classroom.picture}}" style="width: 100%; height: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{classroom.name}}</h5>
                    <p class="card-text"><strong>{{classroom.student.all.count}}</strong> Student(s)</p>
                    <p class="card-text">{{classroom.teacher.first_name}} {{classroom.teacher.last_name}}</p>
                    <a href="{% url 'class' classroom.id %}" class="btn btn-primary">View Class</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}